
/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

html {
  scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
}

body{
  background-color: #FBF2E9;
  color: #C97324;
  font-family: 'Montserrat', sans-serif;
}

/* Heading styles */

h1, 
h2,
h3 {
  font-family: 'Oranienbaum', serif;
  color: #C97324;
}

/* Subheadings use h4 */

h4 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: #C97324;
}


.bg-feature {
  background-color: #C97324;
}

.bg-base {
  background-color: #FBF2E9;
}

.border-feature {
  border-color: #C97324;
}

text-featured {
  font-family: 'Oranienbaum', serif;
}

body > section{
  position: relative;
}


* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

img {
  max-width:100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Custom Apply Classes being applied to whole project */

@layer base {

.button {
  @apply text-white
}

}