<div class="basis-[30%] grow-0 shrink-0 border border-[#FF6F61]">
	
	<div class="p-5">
        <img src="{{class.featured_image}}" alt="{{class.title}}" class="inset-0 w-full object-cover aspect-square border-[#FF6F61] border"> 
    </div>

    <div class="text-center pb-5">
       
               <a href="{{product.url}}" class="block uppercase py-4 tracking-wider text-oranienbaum md:text-2xl p-5"> {{class.title}} </a>
                <p class="tracking-wide text-sm border-t border-[#FF6F61] p-5"> {{class.description}} </p>
                <a class="bg-orange text-beige uppercase px-4 py-2 text-sm my-4 inline-block"> Sign Up </a>
            
        </div>
</div>