<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}

</head>

<body>

    {% include header-nav.html %}

    {{content}}

<footer>


    <div class="grid md:grid-cols-2 md:flex md:justify-between border-t-2 py-14 gap-16 md:gap-12">

        <div>
            <h4 class="uppercase pb-4"> Small heading </h4>
                <nav class="uppercase leading-6">
                    <a href="#" class="block"> Lorem Ipsum </a>
                    <a href="#" class="block"> Lorem Ipsum </a>
                    <a href="#" class="block"> Lorem Ipsum </a>
                    <a href="#" class="block"> Lorem Ipsum </a>
                </nav>
        </div>
    
            <div>
                <h4 class="uppercase pb-4"> Small heading </h4>
                <nav class="uppercase leading-6">
                    <a href="#" class="block"> Lorem Ipsum </a>
                    <a href="#" class="block"> Lorem Ipsum </a>
                    <a href="#" class="block"> Lorem Ipsum </a>
                    <a href="#" class="block"> Lorem Ipsum </a>
                </nav>
            </div>

        <div></div>

        <div class="shrink-0">   

            <form> 
                <label for="Subscribe" class="text-2xl mb-4 block uppercase"> Subscribe to our newsletter </label>
                <input type="text" id="subscribe" name="SUBSCRIBE" class="px-6 py-1 w-full mb-4 bg-inherit border"> 

                <div class="text-right">
                <input class="px-8 py-1 uppercase ml-auto tracking-widest mb-4 button hover" type="submit" value="SUBSCRIBE">
                </div>
            </form>
        </div>
    </div> 

</footer>

</body>
</html>